@model IEnumerable<EntityLayer.Class.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                NewsTitle
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (Model != null && item.NewsTitle != null)
                    {
                        @Html.DisplayFor(modelItem => item.NewsTitle)
                    }
                    else
                    {
                        <span>NULL</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.NewsId">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.NewsId">Delete</a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.NewsId">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
